[Unit]
Description=Extempore
After=docker.service
Requires=docker.service
# Wants=logspout.service
# After=logspout.service

[Service]
TimeoutStartSec=0
KillMode=none

ExecStartPre=-/usr/bin/docker pull benswift/extempore:latest

ExecStart=/usr/bin/docker run --rm --name extempore-%H -p 7099:7099 -p 7098:7098 -p 7199:7199 --privileged benswift/extempore --noaudio

ExecStop=-/usr/bin/docker kill extempore-%H

Restart=on-failure
# TimeoutSec=300
RestartSec=1

[X-Fleet]
Global=true
