[Unit]
Description=graylog2 logger    
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill graylog2-docker
ExecStartPre=-/usr/bin/docker pull graylog2-docker
ExecStart=docker run -d -p 9000:9000 -p 514:514 -p 12201:12201 jamescarr/graylog2-docker
ExecStop=/usr/bin/docker stop graylog2-docker
