[Unit]
Description=Logstash service (self-contained)
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=0
KillMode=none

EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill pblittle/logstash
ExecStartPre=-/usr/bin/docker pull pblittle/logstash

ExecStart=/bin/sh -c "while true; do etcdctl set /announce/services/logstash ${COREOS_PUBLIC_IPV4}:514 --ttl 60; sleep 45; done"
ExecStart=/usr/bin/docker run -e LOGSTASH_CONFIG_URL=/etc/logstash.conf -p 9292:9292 -p 9200:9200 pblittle/docker-logstash

ExecStop=/usr/bin/docker stop pblittle/logstash
ExecStop=/usr/bin/docker rm pblittle/logstash
ExecStop=/usr/bin/etcdctl rm /announce/services/logstash

Restart=on-failure
TimeoutSec=300
RestartSec=1
